<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luxury Touch Hotel</title>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td style="padding: 10px 0 30px 0">
            <table
              align="center"
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="600"
              height="800"
              style="border: 1px solid #cccccc; border-collapse: collapse"
            >
              <tbody>
                <tr>
                  <td
                    align="center"
                    bgcolor="#272727"
                    style="padding: 20px 0 20px 0"
                  >
                    <img
                      src="https://flamboyant-banach-b3871f.netlify.app/static/lux-touch.png"
                      alt="logo"
                      width="300"
                      height="300"
                      style="display: block"
                      class="CToWUd"
                    />
                  </td>
                </tr>
                <tr>
                  <td bgcolor="#ffffff" style="padding: 50px 30px 40px 30px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                    >
                      <tbody>
                        <tr>
                          <td
                            style="
                              text-align: left;
                              color: #153643;
                              font-family: Arial, sans-serif;
                              font-size: 24px;
                            "
                          >
                            Hello <b><%= userName %></b>,
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              text-align: left;
                              color: #153643;
                              font-family: Arial, sans-serif;
                              font-size: 19px;
                            "
                          >
                            <b
                              >You have been added as an Admin on the Luxury
                              Touch Hotel booking managment portal.
                            </b>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              text-align: center;
                              padding: 20px 0 30px 0;
                              color: #153643;
                              font-family: Arial, sans-serif;
                              font-size: 16px;
                              line-height: 20px;
                            "
                          >
                            Please follow the invitation link below to activate
                            your account
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: center">
                            <a
                              style="
                                text-decoration: none;
                                color: #ffffff;
                                border-radius: 5px;
                                background-color: #4caf50;
                                display: inline-block;
                                text-align: center;
                                padding: 15px 32px;
                              "
                              href="<%= inviteLink %>"
                              target="_blank"
                            >
                              Setup Account</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
